$primaryLight:#f0eeee;
$secondSilverr:#eaeaea;
$primaryDark:#000000;
$txt_font:'Roboto',
sans-serif;


$breakpoint_desktop:1200px;
$breakpoint_tabletLandscape:991px;
$breakpoint_tabletPortrait:768px;
$breakpoint_mobile:480px;