$primaryLight:#f0eeee;
$primarySilver:#eaeaea;
$primaryDark:#000000;
$txtFont:'Roboto',
sans-serif;


$breakpointDesktop:1200px;
$breakpointTabletLandscape:991px;
$breakpointTabletPortrait:768px;
$breakpointMobile:480px;