$primaryLight:#f0eeee;
$primaryLightSilver:#beb6b6;
$primaryDark:#000000;
$primarySilver:#717171;
$primaryPaleGreen:#98FB98;
$primaryCircleSilever:#bbb;
$txtFont:'Roboto',
sans-serif;
$breakpointDesktop:1200px;
$breakpointTabletLandscape:991px;
$breakpointTabletPortrait:768px;
$breakpointMobile:480px;