@import "../variables.scss";
@import "./nav.scss";
@import "./search.scss";

.header {
    &__menu {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 23px 0 14px;
        border-bottom: 1px solid $primaryLightSilver;
    }
}