@import "../variables.scss";

.header {
    &__menu {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 23px 0 14px;
        border-bottom: 1px solid $primaryLightSilver;
    }

    &__nav {
        display: flex;
        justify-content: center;
        width: 100%;


        &_link {
            color: $primarySilver;
            text-decoration: none;
            display: flex;
            align-items: center;
            font: 12px $txtFont;
            padding-left: 88px;
        }

        :hover {
            color: $primaryDark;
        }

        &_active {
            color: $primaryDark;
            align-items: center;
            flex-direction: column;
            align-self: flex-end;
        }

        &_active::after {
            content: "";
            width: 5px;
            height: 5px;
            background-color: $primaryCircleSilever;
            border-radius: 50%;
            margin-top: 6px;
        }
    }
}

form {
    display: flex;
}

.form {


    &_serch {
        border-color: $primaryPaleGreen;
        border-radius: 50px;
        width: 108px;
        transform: translateX(108px);
        position: relative;
        z-index: 1;
        opacity: 0;
        transition: 3s;
    }

    &_serch:focus {
        transform: translateX(-28px);
        opacity: 1;
        outline: none;

    }

    &_serch:focus+button {
        pointer-events: auto;
    }

    &_button {
        width: 25px;
        border: none;
        background: none;
    }

    &_img {
        padding-top: 9px;
    }
}