@import "../variables.scss";
@import "../style.scss";
@import "./nav-menu.scss";
@import "./search-form.scss";


.header {


    &__menu {
        display: flex;
        justify-content: space-between;

        padding: 32px 0 15px 15px;
        border-bottom: 1px solid $primaryLightSilver;
    }

    &__background {
        width: 100%;

        &_page {
            background-color: $primaryBackgoundBody;

        }
    }
}