@import "../variables.scss";


.slider {
    &__head {
        text-align: center;
        font-family: $txtFontLorem;



        &_background {
            width: 100%;
            background-color: $primaryBackgroundBody;
        }
    }

    &__txthead {

        font-size: 71px;
        margin: 0;
        padding: 80px 0 13px 0;

        font-weight: 700;
    }

    &__txtlast {
        margin: 0;
        font-size: 14.2px;

    }

    &__button {
        cursor: pointer;
        margin: 29px 0;
        border: 1px solid $primaryBlue;
        color: $primaryBlue;
        padding: 4px 7px 4px 15px;
        font: 12px $txtFontLorem;

    }

    &__img {
        padding-right: 7px;
    }


    &__arrow {
        position: relative;

    }

    &__buttons {
        background: none;
        border-style: none;
        width: $ArrowWidth;
        height: $ArrowHeight;
        position: absolute;


        &::before {
            content: '';
            width: $ArrowWidthSize;
            height: $ArrowHeightSize;
            border-width: $ArrowBorderWidth;
            border-style: $ArrowBorderStyle;
            border-color: $primaryDarkArrow;
            transition: $ArrowTransition;
            display: $ArrowDisplay;
        }

        &_right {
            position: absolute;
            top: 67px;
            right: 60px;
            transform: rotate(45deg);
        }

        &_left {
            position: absolute;
            top: 41px;
            left: 70px;
            transform: rotate(-137deg);


        }
    }
}