@import "../variables.scss";

.slider {


    &__head {
        text-align: center;
        font-family: $txtFontLorem;
    }

    &__txthead {

        font-size: 71px;
        margin: 0;
        padding: 80px 0 13px 0;

        font-weight: 700;
    }

    &__txtlast {
        margin: 0;
        font-size: 14.2px;

    }

    &__button {
        cursor: pointer;
        margin: 29px 0;
        border: 1px solid $primaryBlue;
        color: $primaryBlue;
        padding: 4px 7px 4px 15px;
        font: 12px $txtFontLorem;

    }

    &__img {
        padding-right: 7px;
    }


    &__arrow {
        position: relative;

        &_right {
            width: 6vmin;
            height: 6vmin;
            box-sizing: border-box;
            position: absolute;
            top: 82px;
            right: 75px;

            transform: rotate(45deg);

            &::before {
                content: '';
                width: 25%;
                height: 25%;
                border-width: .2vmin .2vmin 0 0;
                border-style: solid;
                border-color: #050505;
                transition: .2s ease;
                display: block;
                transform-origin: 100% 0;
            }
        }

        &_left {



            width: 6vmin;
            height: 6vmin;
            box-sizing: border-box;
            position: absolute;
            top: 25px;

            left: 90px;

            transform: rotate(-137deg);

            &::before {
                content: '';
                width: 25%;
                height: 25%;
                border-width: .2vmin .2vmin 0 0;
                border-style: solid;
                border-color: #050505;
                transition: .2s ease;
                display: block;
                transform-origin: 100% 0;
            }
        }
    }
}